@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Inter", sans-serif;
}

.bg-shade:active,
.bg-shade:focus {
  box-shadow: 0 0 20px rgb(128, 128, 128, 0.3);
}

.bg-form:active,
.bg-form:hover,
.bg-form:focus {
  box-shadow: 0 0 10px rgba(132, 202, 255, 1);
}

.bg-form-error:active,
.bg-form-error:focus {
  box-shadow: 0 0 10px rgb(255, 132, 132);
}

.view {
  min-height: 70%;
}
